/* GENERAL PAGE LAYOUT */

div.container {
    margin-bottom: 2em;
}

/* MAP */

div.map-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100svh;
    width: 100% !important;
    max-width: 100% !important;
    padding: 0;
}

div#map {
    width: auto;
    height: 100svh;
    margin: 0;
    overflow: hidden;
    cursor: default;
    font-size: 16px;
}

.leaflet-container {
    font-family: var(--bs-body-font-family) !important;
}

[data-bs-theme=dark] .leaflet-layer,
[data-bs-theme=dark] .leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}