<script>
    // Hijack the posting of the form to instead send the POST asynchronously and show the form-success or form-error
    // elements
    function submitForm(action) {
        event.preventDefault();
        var formData = "action=" + action + "&" + $("#form").serialize();

        $.post(window.location.href, formData)
            .done(function(response) {
                $("#form-error").hide();
                if ("message" in response) {
                    $("#form-success").show();
                    $("#form-success-text").text(response["message"]);
                    $("#form-success").get(0).scrollIntoView({behavior: 'smooth'});
                }
                if ("redirect_url" in response) {
                    setTimeout(function() { window.location.href = response["redirect_url"] }, ("message" in response) ? 2000 : 0);
                }
            })
            .fail(function(xhr) {
                response = JSON.parse(xhr.responseText);
                $("#form-success").hide();
                if ("message" in response) {
                    $("#form-error").show();
                    $("#form-error-text").text(response["message"]);
                    $("#form-error").get(0).scrollIntoView({behavior: 'smooth'});
                }
                if ("redirect_url" in response) {
                    setTimeout(function() { window.location.href = response["redirect_url"] }, ("message" in response) ? 2000 : 0);
                }
            });
        return false;
    }
</script>