{% extends "base-std.html" %}
{% block content %}

<!--suppress HtmlUnknownTarget -->
<h2 class="mb-5">Stations Awaiting Approval</h2>

<div class="card bg-body-tertiary">
    <div class="card-header card-title">
        <h5 class="mb-0">Stations Awaiting Approval</h5>
    </div>
    <div class="card-body">
        {% for s in temp_stations %}
        <div class="row mb-2">
            <div class="col-sm-6 mt-2">
                <strong>{{ s.callsign }} &nbsp; {{ s.club_name }}</strong>
            </div>
            <div class="col-sm-3 mt-2">
                {{ s.event.name if s.event else "Event Station" }}
            </div>
            <div class="col-sm-3">
                <form method="post" id="temp{{ s.id }}">
                    {% module xsrf_form_html() %}

                    <input type="hidden" class="form-control" name="type" value="temp"/>
                    <input type="hidden" class="form-control" name="id" value="{{ s.id }}"/>

                    <a href="/view/station/temp/{{ s.id }}" class="btn btn-outline-primary" role="button">View</a>
                    <a href="/admin/station/temp/{{ s.id }}" class="btn btn-outline-primary" role="button">Edit</a>
                    <input type="submit" class="btn btn-success" name="action"
                           onclick="submitForm('Approve', 'temp{{ s.id }}')"
                           value="Approve">
                    <button type="button" class="btn btn-danger my-2 my-sm-0" data-bs-toggle="modal"
                            data-bs-target="#deleteModalTemp{{ s.id }}">Deny
                    </button>

                    <div class="modal fade" id="deleteModalTemp{{ s.id }}" tabindex="-1"
                         aria-labelledby="deleteModalTitleTemp{{ s.id }}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteModalTitleTemp{{ s.id }}">Deny approval?</h1>
                                </div>
                                <div class="modal-body">
                                    Please confirm you really want to deny approval. This will delete the station.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                    <input type="submit" class="btn btn-danger" name="action" data-bs-dismiss="modal"
                                           onclick="submitForm('Delete', 'temp{{ s.id }}')" value="Deny">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% end %}

        {% for s in perm_stations %}
        <div class="row mb-2">
            <div class="col-sm-6 mt-2">
                <strong>{{ s.callsign }} &nbsp; {{ s.club_name }}</strong>
            </div>
            <div class="col-sm-3 mt-2">
                {{ s.type.name }}
            </div>
            <div class="col-sm-3">
                <form method="post" id="perm{{ s.id }}">
                    {% module xsrf_form_html() %}

                    <input type="hidden" class="form-control" name="type" value="perm"/>
                    <input type="hidden" class="form-control" name="id" value="{{ s.id }}"/>

                    <a href="/view/station/perm/{{ s.id }}" class="btn btn-outline-primary" role="button">View</a>
                    <a href="/admin/station/perm/{{ s.id }}" class="btn btn-outline-primary" role="button">Edit</a>
                    <input type="submit" class="btn btn-success" name="action"
                           onclick="submitForm('Approve', 'perm{{ s.id }}')"
                           value="Approve">
                    <button type="button" class="btn btn-danger my-2 my-sm-0" data-bs-toggle="modal"
                            data-bs-target="#deleteModalPerm{{ s.id }}">Deny
                    </button>

                    <div class="modal fade" id="deleteModalPerm{{ s.id }}" tabindex="-1"
                         aria-labelledby="deleteModalTitlePerm{{ s.id }}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteModalTitlePerm{{ s.id }}">Deny approval?</h1>
                                </div>
                                <div class="modal-body">
                                    Please confirm you really want to deny approval. This will delete the station.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                    <input type="submit" class="btn btn-danger" name="action" data-bs-dismiss="modal"
                                           onclick="submitForm('Delete', 'perm{{ s.id }}')" value="Deny">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% end %}

        {% if len(temp_stations) == 0 and len(perm_stations) == 0 %}
        There are no stations awaiting approval.
        {% end %}

    </div>
    <div class="card-footer text-muted">
        <ul class="nav flex-row">
            <li class="nav-item">
                <a class="nav-link" href="/admin">&laquo; Back to dashboard</a>
            </li>
        </ul>
    </div>
</div>

<script>
    // Minimal form of the standard "submit form" method. Here there are many forms to a page so the standard approach
    // doesn't work. Since there is no user-entered content to submit there should be no chance of failure; just reload
    // the page on success and show an alert on the rare chance that a failure occurred.
    function submitForm(action, formID) {
        event.preventDefault();
        var formData = "action=" + action + "&" + $("#" + formID).serialize();

        // Perform the post request
        $.post(window.location.href, formData)
            .done(function(response) {
                window.location.reload();
            })
            .fail(function(xhr) {
                response = JSON.parse(xhr.responseText);
                if ("message" in response) {
                    alert(response["message"]);
                }
                window.location.reload();
            });
        return false;
    }
</script>

{% end %}