{% extends "base-std.html" %}
{% block content %}

<!--suppress HtmlUnknownTarget -->
{% if insecure_user_present %}
<div class="alert alert-danger mb-5" role="alert">
    <h5 class="alert-heading">This site has not been secured</h5>
    {% if user.username == "admin" %}
    <p class="mb-0">Your account has username "admin" and password "password". This is not secure. Please <a
            href="/admin/users" class="alert-link">fix this</a> as soon as possible by setting a different username,
        setting and secure password, and providing a valid email address.</p>
    {% else %}
    <p class="mb-0">This site has a user with username "admin" and password "password". This is not secure.
        Please fix this as soon as possible by deleting the "admin" user.</p>
    {% end %}
</div>
{% end %}

<h2 class="mb-4">Admin Dashboard</h2>

<div class="row">
    <div class="col-sm-4">
        <div class="card bg-body-tertiary">
            <div class="card-header card-title">
                <h5 class="mb-0">Your Account</h5>
            </div>
            <div class="card-body">
                <p class="card-text mt-2">Logged in as: {{ user.username }}</p>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/user/{{ user.id }}">Update Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card bg-body-tertiary">
            <div class="card-header">
                <h5 class="mb-0 card-title">Admin Controls</h5>
            </div>
            <div class="card-body">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/stations">Manage stations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/events">Manage events</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% if user.super_admin %}
    <div class="col-sm-4">
        <div class="card bg-body-tertiary">
            <div class="card-header">
                <h5 class="mb-0 card-title">Super-Admin Controls</h5>
            </div>
            <div class="card-body">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users">Manage users</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% end %}
</div>

{% end %}