{% extends "base-std.html" %}
{% block content %}

<!--suppress HtmlUnknownTarget -->
<div class="card mx-auto bg-body-tertiary" style="max-width: 24rem;">
    <div class="card-header">
        <h5 class="mb-0">Manage Users</h5>
    </div>
    <div class="card-body">
        <p class="card-text">Click on a user to update or delete it.</p>
        <ul class="nav flex-column">
            {% for user in users %}
            <li class="nav-item">
                <a class="nav-link" href="/admin/user/{{ user.id }}">{{ user.username }}</a>
            </li>
            {% end %}
        </ul>
        <ul class="nav flex-column mt-5">
            <li class="nav-item">
                <a class="nav-link" href="/admin/user/new">Create new user</a>
            </li>
        </ul>
    </div>
    <div class="card-footer text-muted">
        <ul class="nav flex-row">
            <li class="nav-item">
                <a class="nav-link" href="/admin">&laquo; Back to dashboard</a>
            </li>
        </ul>
    </div>
</div>

{% end %}