{% extends "base-std.html" %}
{% block content %}

<!--suppress HtmlUnknownAttribute, HtmlUnknownTarget , HtmlUnknownAnchorTarget -->
<h2 class="mb-5">Configure Site</h2>

<div class="card mx-auto bg-body-tertiary" style="max-width: 40rem;">
    <div class="card-header">
        <h5 class="mb-0 card-title">Configuration</h5>
    </div>
    <div class="card-body">
        <form method="post" id="form">
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="base_url" class="form-label mt-2">Base URL:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" id="base_url" class="form-control" name="base_url"
                           value="{{ config.base_url if config.base_url else '' }}"/>
                </div>
            </div>
            <div class="row mt-4 mb-0">
                <h4>Email Settings</h4>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                    <input type="checkbox" id="enable_mail" class="form-check-input" name="enable_mail" value="true"
                           {% if config.enable_mail %}checked{% end %}>
                    <label for="enable_mail" class="form-check-label">Enable sending email</label>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="mail_server_host" class="form-label mt-2">SMTP server:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" id="mail_server_host" class="form-control" name="mail_server_host"
                           value="{{ config.mail_server_host if config.mail_server_host else '' }}"/>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="mail_server_port" class="form-label mt-2">SMTP port:</label>
                </div>
                <div class="col-sm-8">
                    <input type="number" id="mail_server_port" class="form-control" name="mail_server_port"
                           value="{{ config.mail_server_port if config.mail_server_port else '0' }}" min="0" max="65535"
                           step="1"/>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="mail_username" class="form-label mt-2">Username:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" id="mail_username" class="form-control" name="mail_username"
                           value="{{ config.mail_username if config.mail_username else '' }}"/>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="mail_password" class="form-label mt-2">Password:</label>
                </div>
                <div class="col-sm-8">
                    <input type="password" id="mail_password" class="form-control" name="mail_password"
                           value="{{ config.mail_password if config.mail_password else '' }}"/>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="mail_sender" class="form-label mt-2">Sender address:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" id="mail_sender" class="form-control" name="mail_sender"
                           value="{{ config.mail_sender if config.mail_sender else '' }}"/>
                </div>
            </div>
            <div class="row mt-4 mb-0">
                <h4>CAPTCHA Settings</h4>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                    <input type="checkbox" id="enable_captcha" class="form-check-input" name="enable_captcha"
                           value="true" {% if config.enable_captcha %}checked{% end %}>
                    <label for="enable_captcha" class="form-check-label">Enable CAPTCHA</label>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="recaptcha_site_key" class="form-label mt-2">reCAPTCHA site key:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" id="recaptcha_site_key" class="form-control" name="recaptcha_site_key"
                           value="{{ config.recaptcha_site_key if config.recaptcha_site_key else '' }}"/>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="recaptcha_secret_key" class="form-label mt-2">reCAPTCHA secret key:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" id="recaptcha_secret_key" class="form-control" name="recaptcha_secret_key"
                           value="{{ config.recaptcha_secret_key if config.recaptcha_secret_key else '' }}"/>
                </div>
            </div>

            {% module xsrf_form_html() %}

            <div class="row mb-2 mt-4">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                    <input type="submit" class="btn btn-primary" name="action" onclick="submitForm('Update')"
                           value="Update">
                    <a href="/admin" class="btn btn-secondary" role="button">Cancel</a>
                </div>
            </div>

            {% module Template("widgets/form-result.html") %}
        </form>
    </div>
    <div class="card-footer text-muted">
        <ul class="nav flex-row">
            <li class="nav-item">
                <a class="nav-link" href="/admin">&laquo; Back to dashboard</a>
            </li>
        </ul>
    </div>
</div>

<script src="/static/js/form-post-handler.js?v=1771974813"></script>

{% end %}