{% extends "base-std.html" %}
{% block content %}

<!--suppress HtmlUnknownAttribute, HtmlUnknownTarget , HtmlUnknownAnchorTarget -->
<form method="post" id="form">
    <p>Are you sure you want to {{action}} this station?</p>

    <input type="hidden" id="station_type" class="form-control" name="station_type" value="{{ station_type }}"/>
    <input type="hidden" id="station_id" class="form-control" name="id" value="{{ station_id }}"/>

    {% module xsrf_form_html() %}

    <div class="mt-4 ms-5">
        <input type="submit" class="btn btn-{{ 'primary' if action != 'delete' else 'danger' }}" name="action" onclick="submitForm('{{action}}')" value="Yes">
        <a href="/admin" class="btn btn-secondary" role="button">No</a>
    </div>

    {% module Template("widgets/form-result.html") %}
</form>

<ul class="nav flex-row mt-5">
    <li class="nav-item">
        <a class="nav-link" href="/admin/stations">&laquo; Go to station list</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin">&laquo; Go to dashboard</a>
    </li>
</ul>

<script src="/static/js/form-post-handler.js?v=1775062214"></script>
{% end %}