{% extends "base-std.html" %}
{% block content %}

<!--suppress HtmlUnknownTarget -->
<div class="card mx-auto" style="max-width: 24rem;">
    <div class="card-header">
        <h5 class="mb-0">Manage Events</h5>
    </div>
    <div class="card-body">
        <p class="card-text">Click on an event to update or delete it.</p>
        <ul class="nav flex-column">
            {% for event in events %}
            <li class="nav-item">
                <a class="nav-link" href="/admin/event/{{ event.id }}">{{ event.name }}</a>
            </li>
            {% end %}
        </ul>
        <ul class="nav flex-column mt-5">
            <li class="nav-item">
                <a class="nav-link" href="/admin/event/new">Create new event</a>
            </li>
        </ul>
    </div>
    <div class="card-footer text-muted">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/admin">&laquo; Back to dashboard</a>
            </li>
        </ul>
    </div>
</div>

{% end %}