{% extends "base-std.html" %}
{% block content %}

<!--suppress HtmlUnknownTarget -->
<div class="row">
    <div class="col-sm-6">
        <div class="card mx-auto bg-body-tertiary">
            <div class="card-header">
                <h5 class="mb-0">Manage Temporary/Special Event Stations</h5>
            </div>

            <div class="card-body">
                <p class="card-text">Click on a station to update or delete it.</p>

                <h5 class="mt-2"></h5>
                <ul class="nav flex-column">
                    {% for station in temp_stations %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/station/temp/{{ station.id }}">{{ station.callsign }} {{
                            station.club_name }}{% if station.event %} at {{ station.event.name }}{% else %} (SES){% end
                            %}</a>
                    </li>
                    {% end %}
                </ul>
                <ul class="nav flex-column mt-5">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/station/temp/new">Create new temporary station</a>
                    </li>
                </ul>
            </div>

            <div class="card-footer text-muted">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">&laquo; Back to dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="card mx-auto bg-body-tertiary">
            <div class="card-header">
                <h5 class="mb-0">Manage Permanent/Club Stations</h5>
            </div>

            <div class="card-body">
                <p class="card-text">Click on a station to update or delete it.</p>

                <ul class="nav flex-column">
                    {% for station in perm_stations %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/station/perm/{{ station.id }}">{{ station.callsign }} {{
                            station.club_name }}</a>
                    </li>
                    {% end %}
                </ul>
                <ul class="nav flex-column mt-5">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/station/perm/new">Create new permanent station</a>
                    </li>
                </ul>
            </div>

            <div class="card-footer text-muted">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">&laquo; Back to dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% end %}