{% extends "base.html" %}
{% block content %}

<!--suppress HtmlUnknownAttribute, HtmlUnknownTarget  -->
<h1>{{ "Create" if creating_new else "Update" }} Event</h1>
{% if creating_new %}
<p>Please enter the details for the new event.</p>
{% else %}
<p>Updating details for {{ event.name }}.</p>
{% end %}

<form method="post">
    <label for="name">Name:</label> <input type="text" id="name" name="name"
                                           value="{{ '' if creating_new else event.name }}" required/><br/>
    <label for="start_time">Start Time (UTC):</label> <input id="start_time" name="start_time" type="datetime-local"
                                                             value="{{ (datetime.datetime.now() if creating_new else event.start_time).strftime('%Y-%m-%dT%H:%M') }}"/><br/>
    <label for="end_time">End Time (UTC):</label> <input id="end_time" name="end_time" type="datetime-local"
                                                         value="{{ (datetime.datetime.now() if creating_new else event.end_time).strftime('%Y-%m-%dT%H:%M') }}"/><br/>
    Bands:
    {% for band in all_band_names %}
    <input type="checkbox" id="band-{{ band.replace('.', '_') }}" name="band_names[]" value="{{ band }}"
           {% if creating_new or [b.name for b in event.bands] %}checked{% end %}/>
    <label for="band-{{ band.replace('.', '_') }}">{{ band }}</label>
    {% end %}
    <br/>
    Modes:
    {% for mode in all_mode_names %}
    <input type="checkbox" id="mode-{{ mode.replace('.', '_') }}" name="mode_names[]" value="{{ mode }}"
           {% if creating_new or [m.name for m in event.modes] %}checked{% end %}/>
    <label for="mode-{{ mode.replace('.', '_') }}">{{ mode }}</label>
    {% end %}
    <br/>
    <label for="icon">Icon:</label> TODO Icon Picker<br/>
    <label for="color">Color:</label> <input type="text" id="color" name="color"
                                             value="{{ '' if creating_new else event.color }}" required/><br/>
    <label for="notes_template">Notes Template (optional):</label> <textarea id="notes_template" name="notes_template"
                                                                             rows="5">{{ '' if creating_new else event.notes_template }}</textarea><br/>
    <label for="url_slug">URL Slug (optional):</label> <input type="text" id="url_slug" name="url_slug"
                                                              value="{{ '' if creating_new else event.url_slug }}"/><br/>
    <input type="checkbox" id="public" name="public" value="true"
           {% if not creating_new and user.public %}checked{% end %}>
    <label for="public">Public</label><br/>
    <input type="checkbox" id="rsgb_event" name="rsgb_event" value="true"
           {% if not creating_new and user.rsgb_event %}checked{% end %}>
    <label for="rsgb_event">RSGB Event</label><br/>

    {% if creating_new %}
    <input type="submit" name="action" value="Create">
    {% else %}
    <input type="submit" name="action" value="Update"> <input type="submit" name="action" value="Delete">
    {% end %}
</form>

{% if not creating_new %}
<h2>Stations at this event:</h2>
{% if len(event.stations) > 0 %}
<ul>
    {% for station in event.stations %}
    <li><a href="/admin/station/temp/{{ station.id }}">{{ station.callsign }} {{ station.club_name }}</a></li>
    {% end %}
</ul>
{% else %}
<p>None</p>
{% end %}
{% end %}

<p><a href="/admin">Back to dashboard</a></p>

{% end %}