{% extends "base-std.html" %}
{% block content %}

<!--suppress HtmlUnknownTarget -->
<h2 class="mb-5">Manage Events</h2>

<div class="card mx-auto bg-body-tertiary" style="max-width: 24rem;">
    <div class="card-header">
        <h5 class="mb-0">Events</h5>
    </div>
    <div class="card-body">
        <p class="card-text">Click on an event to update or delete it.</p>

        {% for type in events_by_type.keys() %}
        <h5 class="mt-4">{{ type }} Events</h5>
        <ul class="nav flex-column">
            {% if len(events_by_type[type]) > 0 %}
            {% for event in events_by_type[type] %}
            <li class="nav-item"><a class="nav-link" href="/admin/event/{{ event.id }}">{{ event.name }}</a></li>
            {% end %}
            {% else %}
            <li class="nav-item px-3 py-2">None</li>
            {% end %}
        </ul>
        {% end %}

        <ul class="nav flex-column mt-5">
            <li class="nav-item">
                <a class="nav-link" href="/admin/event/new">Create new event</a>
            </li>
        </ul>
    </div>
    <div class="card-footer text-muted">
        <ul class="nav flex-row">
            <li class="nav-item">
                <a class="nav-link" href="/admin">&laquo; Back to dashboard</a>
            </li>
        </ul>
    </div>
</div>

{% end %}