{% extends "base.html" %}
{% block content-variant %}

<!--suppress HtmlUnknownTarget -->
<nav id="header" class="navbar navbar-expand-lg px-3 px-sm-5 bg-body-tertiary border-bottom">
    <a class="navbar-brand" href="/"><img src="/static/img/logo.png" id="logo" alt="Site Logo"/><span
            id="site-title">Youth Map{% if preselect_event %} - {{ preselect_event.name }}{% end %}
    {% if preselect_type %} - {{ preselect_type.name }} stations{% end %}</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav" style="margin-left: auto;">
            <li class="nav-item me-4 mt-4 my-sm-0">
                <a class="nav-link" href="/pending">Pending Stations</a>
            </li>
            {% if current_user %}
            <li class="nav-item me-4 mt-4 my-sm-0">
                <a class="nav-link" href="/login">Admin</a>
            </li>
            {% end %}
            <li class="nav-item me-2 mt-2 mt-sm-0">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStationModal1">
                    Add your station
                </button>
            </li>
            <li class="nav-item me-2 mt-2 mt-sm-0">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="offcanvas"
                        data-bs-target="#settingsPanel" aria-controls="settingsPanel">Map settings
                </button>
            </li>

        </ul>
    </div>
</nav>
<main>
    <div class="map-container">
        {% block content %}{% end %}
    </div>
</main>
<script>
    // In mobile view, clicking a button in the expanded navbar doesn't close the navbar. This script fixes that.
    $("#navbarSupportedContent button").on("click", function() {
        $("#navbarSupportedContent").collapse("hide");
    });
</script>
{% end %}