{% extends "base-std.html" %}
{% block content %}

<!--suppress HtmlUnknownAttribute, HtmlUnknownTarget  -->
{% if type2 == "perm" %}
<h2 class="mb-5">{{ station.callsign }} {{ station.club_name }}</h2>
{% else %}
<h2 class="mb-5">{{ station.callsign }} {{ station.club_name }}{% if station.event %} at {{station.event.name}}{% end %}</h2>
{% end %}

<div class="row">
    <div class="col-sm-6 mb-3">
        <div class="card mx-auto bg-body-tertiary">
            <div class="card-header">
                <h5 class="mb-0 card-title">Edit Location</h5>
            </div>

            <div class="card-body p-0">
                <div id="map" style="width: 100%; height: 20em;"></div>
            </div>

            <p class="mt-3 mx-3">To change the location of your station, drag the marker to a new location on the
                map.</p>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card mx-auto bg-body-tertiary">
            <div class="card-header">
                <h5 class="mb-0 card-title">Edit Details</h5>
            </div>

            <div class="card-body">
                <form method="post">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="callsign" class="form-label mt-2">Callsign:</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="callsign" class="form-control" name="callsign"
                                   value="{{ station.callsign }}"
                                   required/>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="club_name" class="form-label mt-2">Club/station name:</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="club_name" class="form-control" name="club_name"
                                   value="{{ station.club_name }}"
                                   required/>
                        </div>
                    </div>

                    {% if type2 == "temp" %}
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="event" class="form-label mt-2">Event (optional):</label>
                        </div>
                        <div class="col-sm-8">
                            <select name="event" id="event" class="form-control">
                                <option value=""></option>
                                {% for event in all_events %}
                                <option value="{{ event.id }}" {% if station.event_id== event.id
                                        %}selected{% end %}>{{ event.name }}
                                </option>
                                {% end %}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="start_time" class="form-label mt-2">Start time (UTC):</label>
                        </div>
                        <div class="col-sm-8">
                            <input id="start_time" class="form-control" name="start_time" type="datetime-local"
                                   value="{{ station.start_time.strftime('%Y-%m-%dT%H:%M') }}"
                                   required/>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="end_time" class="form-label mt-2">Start time (UTC):</label>
                        </div>
                        <div class="col-sm-8">
                            <input id="end_time" class="form-control" name="end_time" type="datetime-local"
                                   value="{{ station.end_time.strftime('%Y-%m-%dT%H:%M') }}"
                                   required/>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label class="form-label mt-2">Bands:</label>
                        </div>
                        <div class="col-sm-8">
                            {% for band in all_bands %}
                            <span style="display:inline-block; min-width:5em;">
                    <input type="checkbox" id="band-{{ band.id }}" class="form-check-input" name="bands[]"
                           value="{{ band.id }}"
                           {% if band.id in [x.id for x in station.bands] %}checked{% end %}/>&nbsp;
                    <label for="band-{{ band.id }}" class="form-check-label">{{ band.name }}</label>
                    </span>
                            {% end %}
                            <a href="#/" class="ms-4 link-underline link-underline-opacity-0"
                               onClick="$(':input:checkbox[name=\'bands[]\']').prop('checked', true);">All</a>
                            <a href="#/" class="ms-2 link-underline link-underline-opacity-0"
                               onClick="$(':input:checkbox[name=\'bands[]\']').prop('checked', false);">None</a>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label class="form-label mt-2">Modes:</label>
                        </div>
                        <div class="col-sm-8">
                            {% for mode in all_modes %}
                            <span style="display:inline-block; min-width:5em;">
                    <input type="checkbox" id="mode-{{ mode.id }}" class="form-check-input" name="modes[]"
                           value="{{ mode.id }}"
                           {% if mode.id in [x.id for x in station.modes] %}checked{% end %}/>&nbsp;
                    <label for="mode-{{ mode.id }}" class="form-check-label">{{ mode.name }}</label>
                    </span>
                            {% end %}
                        </div>
                    </div>
                    {% end %}

                    {% if type2 == "perm" %}
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="type" class="form-label mt-2">Type:</label>
                        </div>
                        <div class="col-sm-8">
                            <select name="type" id="type" class="form-control">
                                {% for type in all_perm_station_types %}
                                <option value="{{ type.id }}" {% if station.type_id== type.id %}selected{% end %}>{{
                                    type.name }}
                                </option>
                                {% end %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="meeting_when" class="form-label mt-2">Meeting times:</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="meeting_when" class="form-control" name="meeting_when"
                                   value="{{ station.meeting_when }}"/>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="meeting_where" class="form-label mt-2">Meeting place:</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="meeting_where" class="form-control" name="meeting_where"
                                   value="{{ station.meeting_where }}"/>
                        </div>
                    </div>
                    {% end %}

                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="notes" class="form-label mt-2">Notes (optional):</label>
                        </div>
                        <div class="col-sm-8">
                            <textarea id="notes" class="form-control" name="notes"
                                      rows="5">{{ station.notes }}</textarea>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="website_url" class="form-label mt-2">Website (optional):</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="website_url" class="form-control" name="website_url"
                                   value="{{ station.website_url }}"/>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="qrz_url" class="form-label mt-2">QRZ Page (optional):</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="qrz_url" class="form-control" name="qrz_url"
                                   value="{{ station.qrz_url }}"/>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="social_media_url" class="form-label mt-2">Social media (optional):</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="social_media_url" class="form-control" name="social_media_url"
                                   value="{{ station.social_media_url }}"/>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="email" class="form-label mt-2">Email address (optional):</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="email" class="form-control" name="email"
                                   value="{{ station.email }}"/>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="phone_number" class="form-label mt-2">Phone (optional):</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="phone_number" class="form-control" name="phone_number"
                                   value="{{ station.phone_number }}"/>
                        </div>
                    </div>
                    <div class="row mb-2 mt-4">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-8">
                            <input type="submit" class="btn btn-primary" name="action" value="Update">
                            <input type="submit" class="btn btn-danger" name="action" value="Delete">
                            <a href="/view/station/{{ type2 }}/{{ station.id }}" class="btn btn-outline-primary" role="button">Cancel</a>
                        </div>
                    </div>

                    <!-- lat/long fields updated by dragging the map marker; user_edit_password provided by GET param -->
                    <input type="hidden" id="latitude_degrees" class="form-control" name="latitude_degrees"
                           value="{{ station.latitude_degrees }}" required/>
                    <input type="hidden" id="longitude_degrees" class="form-control" name="longitude_degrees"
                           value="{{ station.longitude_degrees }}" required/>
                    <input type="hidden" id="user_edit_password" class="form-control" name="user_edit_password"
                           value="{{ user_edit_password }}" required/>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="importmap">
    {
      "imports": {
        "leaflet": "https://unpkg.com/leaflet@2.0.0-alpha.1/dist/leaflet.js"
      }
    }
</script>
<script>
    let latitude_degrees = {{ float(station.latitude_degrees) }};
    let longitude_degrees = {{ float(station.longitude_degrees) }};
    let default_zoom = 12;
</script>
<script type="module" src="/js/map-editstation.js?v=1"></script>
{% end %}