{% extends "base-std.html" %}
{% block content %}

{% if insecure_user_present %}
<div class="alert alert-danger mb-5" role="alert">
    <h5 class="alert-heading">This site has not been secured</h5>
    <p class="mb-0">The default login is username "admin", password "password". Please ensure this user is renamed or replaced
    before this site goes live.</p>
</div>
{% end %}

<div class="card bg-body-tertiary mx-auto" style="max-width: 24rem;">
    <div class="card-header">
        <h5 class="mb-0 card-title">Admin Login</h5>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required autofocus>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>


{% end %}