{% extends "base-map.html" %}
{% block content %}

<!--suppress HtmlUnknownTarget, HtmlUnknownAttribute -->
<div id="map"></div>


<div class="offcanvas offcanvas-end bg-body-tertiary" data-bs-backdrop="false" tabindex="-1" id="settingsPanel"
     aria-labelledby="settingsPanelLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="settingsPanelLabel">Map settings</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p class="mt-0 mb-2">Show:</p>

            <div class="row mb-2 mx-2">
                <div class="form-check">
                    <input class="form-check-input stationTypeRadio" type="radio" name="station_type" id="all"
                           value="all" {% if not preselect_event and not preselect_type %}checked{% end %}>
                    <label class="form-check-label" for="all">Everything</label>
                </div>
            </div>
            <div class="row mb-2 mx-2">
                <div class="form-check">
                    <input class="form-check-input stationTypeRadio" type="radio" name="station_type" id="perm"
                           value="perm" {% if preselect_type %}checked{% end %}>
                    <label class="form-check-label" for="perm">Club stations</label>
                </div>
            </div>
            <div id="permDetails" class="row mb-4 mx-5 g-2" style="display: none;">
                <div class="col-auto" style="min-width: 4rem;">
                    <label for="type" class="form-label mt-2">Type:</label>
                </div>
                <div class="col-auto">
                    <select name="type" id="type" class="form-control" style="min-width: 12rem;">
                        <option value="all">All</option>
                        {% for type in all_perm_station_types %}
                        <option value="{{ type.id }}"
                                {% if preselect_type and preselect_type.id== type.id %}selected{% end %}>{{ type.name }}
                        </option>
                        {% end %}
                    </select>
                </div>
            </div>
            <div class="row mb-2 mx-2">
                <div class="form-check">
                    <input class="form-check-input stationTypeRadio" type="radio" name="station_type" id="temp"
                           value="temp" {% if preselect_event %}checked{% end %}>
                    <label class="form-check-label" for="temp">
                        Event stations
                    </label>
                </div>
            </div>
            <div id="tempDetails" style="display: none;">
                <div class="row mb-2 mx-5 g-2">
                    <div class="col-auto" style="min-width: 4rem;">
                        <label for="event" class="form-label mt-2">Event:</label>
                    </div>
                    <div class="col-auto">
                        <select name="event" id="event" class="form-control" style="min-width: 12rem;">
                            <option value="all">All</option>
                            {% for event in all_events %}
                            <option value="{{ event.id }}"
                                    {% if preselect_event and preselect_event.id== event.id %}selected{% end %}>
                                {{ event.name }}
                            </option>
                            {% end %}
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2 mx-5 g-2">
                    <div class="col-auto" style="min-width: 4rem;">
                        <label for="band" class="form-label mt-2">Band:</label>
                    </div>
                    <div class="col-auto">
                        <select name="band" id="band" class="form-control" style="min-width: 12rem;">
                            <option value="any">Any</option>
                            {% for band in all_bands %}
                            <option value="{{ band.id }}">{{ band.name }}</option>
                            {% end %}
                        </select>
                    </div>
                </div>
                <div class="row mb-2 mx-5 g-2">
                    <div class="col-auto" style="min-width: 4rem;">
                        <label for="mode" class="form-label mt-2">Mode:</label>
                    </div>
                    <div class="col-auto">
                        <select name="mode" id="mode" class="form-control" style="min-width: 12rem;">
                            <option value="any">Any</option>
                            {% for mode in all_modes %}
                            <option value="{{ mode.id }}">{{ mode.name }}</option>
                            {% end %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-4 mb-2 mx-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="allow_past" id="allow_past"
                           {% if preselect_event %}checked{% end %}>
                    <label class="form-check-label" for="allow_past">
                        Show past events and stations
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addStationModal1" tabindex="-1" aria-labelledby="addStationModal1Title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addStationModal1Title">Add Station</h1>
            </div>
            <div class="modal-body">
                Want to put your station on the map? Click the "Get started!" button, then click on the map where you
                want your station's marker to be placed. If your station is open to the public, please try to be
                accurate to help others find it!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="addStationGetStarted" class="btn btn-primary" data-bs-dismiss="modal">Get
                    started!
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addStationModal2" tabindex="-1" aria-labelledby="addStationModal2Title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addStationModal2Title">Add Station</h1>
            </div>
            <div class="modal-body">
                If you're happy with this location, click "Set up my station!" to continue with adding it. Otherwise,
                you can reposition the marker, or cancel the process.
            </div>
            <div class="modal-footer">
                <button type="button" id="addStationCancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">I need to reposition</button>
                <button type="button" id="addStationSetUp" class="btn btn-primary" data-bs-dismiss="modal">Set up my
                    station!
                </button>
            </div>
        </div>
    </div>
</div>


{% module Template("widgets/import-map.html") %}
<script>
    // Load JSON data from the backend for the map
    let perm_stations = JSON.parse({% raw json_encode(perm_stations_json) %});
    let temp_stations = JSON.parse({% raw json_encode(temp_stations_json) %});
    let events = JSON.parse({% raw json_encode(all_events_json) %});
</script>
<script type="module" src="/static/js/map.js?v=1771246797"></script>
{% end %}