{% extends "base-std.html" %}
{% block content %}

<!--suppress HtmlUnknownAttribute, HtmlUnknownTarget  -->
{% if type == "perm" %}
<h2 class="mb-5">{{ station.callsign }} {{ station.club_name }}</h2>
{% else %}
<h2 class="mb-5">{{ station.callsign }} {{ station.club_name }}{% if station.event %} at {{station.event.name}}{% end %}</h2>
{% end %}

{% if not station.approved %}
<div class="alert alert-primary mb-5" role="alert">
    <h5 class="alert-primary"><svg class="bi flex-shrink-0 me-2 alert-icon" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg> This station has not yet been approved</h5>
    <p class="mb-0">This station has recently been created, and is still waiting for a site administrator to approve it. Until that happens, it will not be shown on the main map.</p>
</div>
{% end %}

<div class="row">
    <div class="col-sm-6 mb-3">
        <div class="card mx-auto bg-body-tertiary">
            <div class="card-header">
                <h5 class="mb-0 card-title">Location</h5>
            </div>

            <div class="card-body p-0">
                <div id="map" style="width: 100%; height: 20em;"></div>
            </div>

            <div class="card-footer text-muted">
                <ul class="nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link" href="/">&laquo; Back to full map</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card mx-auto bg-body-tertiary">
            <div class="card-header">
                <h5 class="mb-0 card-title">Details</h5>
            </div>

            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        Callsign:
                    </div>
                    <div class="col-sm-8">
                        {{ station.callsign }}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        Club/Station:
                    </div>
                    <div class="col-sm-8">
                        {{ station.club_name }}
                    </div>
                </div>

                {% if type == "temp" %}
                {% if station.event %}
                <div class="row mb-2">
                    <div class="col-sm-4">
                        Event:
                    </div>
                    <div class="col-sm-8">
                        {{ station.event.name }}
                    </div>
                </div>
                {% end %}
                <div class="row mb-2">
                    <div class="col-sm-4">
                        Active:
                    </div>
                    <div class="col-sm-8">
                        {{ station.humanized_start_end }}
                    </div>
                </div>
                {% if station.rsgb_attending %}
                <div class="row mb-2">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8">
                        RSGB attending
                    </div>
                </div>
                {% end %}
                <div class="row mb-2">
                    <div class="col-sm-4">
                        Bands:
                    </div>
                    <div class="col-sm-8">
                        {{ ", ".join([b.name for b in sorted(station.bands, key=lambda b: b.id)]) }}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        Modes:
                    </div>
                    <div class="col-sm-8">
                        {{ ", ".join([m.name for m in sorted(station.modes, key=lambda m: m.id)]) }}
                    </div>
                </div>
                {% end %}

                {% if type == "perm" %}
                <div class="row mb-2">
                    <div class="col-sm-4">
                        Meeting:
                    </div>
                    <div class="col-sm-8">
                        {{ station.meeting_when }}
                        {% if station.meeting_when != "" and station.meeting_where != "" %}<br/>{% end %}
                        {{ station.meeting_where }}
                    </div>
                </div>
                {% end %}

                {% if station.notes and station.notes != "" %}
                <div class="row mb-2">
                    <div class="col-sm-4">
                        Notes:
                    </div>
                    <div class="col-sm-8">
                        {{ station.notes }}
                    </div>
                </div>
                {% end %}
                {% if station.website_url and station.website_url != "" %}
                <div class="row mb-2">
                    <div class="col-sm-4">
                        Website:
                    </div>
                    <div class="col-sm-8">
                        <a href="{{ station.website_url }}" target="_new">{{ station.website_url }}</a>
                    </div>
                </div>
                {% end %}
                {% if station.qrz_url and station.qrz_url != "" %}
                <div class="row mb-2">
                    <div class="col-sm-4">
                        QRZ page:
                    </div>
                    <div class="col-sm-8">
                        <a href="{{ station.qrz_url }}" target="_new">{{ station.qrz_url }}</a>
                    </div>
                </div>
                {% end %}
                {% if station.social_media_url and station.social_media_url != "" %}
                <div class="row mb-2">
                    <div class="col-sm-4">
                        Social media:
                    </div>
                    <div class="col-sm-8">
                        <a href="{{ station.social_media_url }}" target="_new">{{ station.social_media_url }}</a>
                    </div>
                </div>
                {% end %}
                {% if station.email and station.email != "" %}
                <div class="row mb-2">
                    <div class="col-sm-4">
                        Contact email:
                    </div>
                    <div class="col-sm-8">
                        <a href="mailto:{{ station.email }}" target="_new">{{ station.email }}</a>
                    </div>
                </div>
                {% end %}
                {% if station.phone_number and station.phone_number != "" %}
                <div class="row mb-2">
                    <div class="col-sm-4">
                        Contact number:
                    </div>
                    <div class="col-sm-8">
                        {{ station.phone_number }}
                    </div>
                </div>
                {% end %}
            </div>
        </div>

        <p class="d-inline-flex gap-1 mt-4 mx-3">
            <a data-bs-toggle="collapse" href="#editDetailsPanel" role="button"
               class="link-underline link-underline-opacity-0"
               aria-expanded="false" aria-controls="editDetailsPanel">
                Is this your station?
            </a>
        </p>
        <div class="collapse" id="editDetailsPanel">
            <div class="card card-body">
                <p>You can edit a station you previously created by entering the "edit password" you were given when
                    the event was created. Please enter this below to edit or delete this station.</p>
                <form method="post" class="mb-3">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="password" id="user_edit_password" class="form-control" name="user_edit_password"
                           style="max-width: 12em; display:inline-block;" required/>
                    <input type="submit" class="btn btn-primary" name="action" value="Edit"
                           style="margin-top: -0.25em;">
                    <input type="submit" class="btn btn-danger" name="action" value="Delete"
                           style="margin-top: -0.25em;">
                </form>
                <p class="mb-0">If you have lost this password, please contact an administrator for assistance.
                    (TODO)</p>
            </div>
        </div>
    </div>
</div>

<script type="importmap">
    {
      "imports": {
        "leaflet": "https://unpkg.com/leaflet@2.0.0-alpha.1/dist/leaflet.js",
        "leaflet-extra-markers": "https://unpkg.com/leaflet-extra-markers@2.0.1/src/index.js"
      }
    }
</script>
<script>
    let latitude_degrees = {{ float(station.latitude_degrees) }};
    let longitude_degrees = {{ float(station.longitude_degrees) }};
    let color = "{{ station.color }}";
    let icon = "{{ station.icon }}";
</script>
<script type="module" src="/js/map-viewstation.js?v=1"></script>
{% end %}